<form [formGroup]="particularsForm" (ngSubmit)="onSubmit()" >
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">

      <h1>Loan Particulars</h1>

      <div class="form-group">
        <label class="mr-sm-2" for="loanType">Select loan type</label>
        <select class="custom-select mr-sm-2" id="loanType" formControlName="loanType" >
          <option value="1">Normal</option>
          <option value="2">Development</option>
          <option value="3">Emergency/School fees</option>
        </select>
      </div>

      <div class="form-group">
        <label for="purposeOfLoan">Purpose of loan</label>
        <input required type="text" class="form-control" id="purposeOfLoan" formControlName="purposeOfLoan" aria-describedby="purposeOfLoan" placeholder="Loan Purpose">
      </div>

      <div class="form-group">
        <label for="amountApplied">Amount applied</label>
        <input required type="number" class="form-control" id="amountApplied" formControlName="amountApplied" aria-describedby="amountApplied" placeholder="Amount applied">
      </div>

      <a [routerLink]="['/apply/bank']" class="btn btn-lg btn-outline-info" style="margin: 12px;">Go back</a>
      <button type="submit" class="btn btn-info btn-lg">Next</button>

    </div>
    <div class="col-lg-4"></div>
  </div>
</form>
