<form [formGroup]="personForm"  (ngSubmit)="onSubmit()" >
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">

      <h1>Personal Details </h1>
      <div class="form-group">
        <label for="membershipNo">Membership Number</label>
        <input required type="text" class="form-control" id="membershipNo" formControlName="membershipNo" aria-describedby="membershipNo" placeholder="Enter Membership No.">
      </div>


      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName">First name</label>
          <input required type="text" class="form-control" formControlName="firstName" id="firstName" placeholder="First name">
        </div>
        <div class="form-group col-md-6">
          <label for="middleName">Middle name</label>
          <input required type="text" class="form-control" id="middleName"  formControlName="middleName" placeholder="Enter middle name">
        </div>
      </div>


      <div class="form-group">
        <label for="lastName">Last name</label>
        <input required type="text" class="form-control" id="lastName"  formControlName="lastName" aria-describedby="emailHelp" placeholder="Last Name">
      </div>

      <div class="form-group">
        <label for="idPassport">ID No/ Passport No.</label>
        <input required type="text" class="form-control" id="idPassport" formControlName="idPassport" aria-describedby="emailHelp" placeholder="ID No/ Passport No.">
      </div>

      <div class="form-group">
        <label for=" dateOfBirth">Date of Birth</label>
        <input required type="text" class="form-control" id=" dateOfBirth" formControlName="dateOfBirth" aria-describedby="emailHelp" placeholder="ID/Passport">
      </div>

      <div class="form-group">
        <label for="homeAddress">Home Address</label>
        <input required type="text" class="form-control" id="homeAddress" formControlName="homeAddress" aria-describedby="emailHelp" placeholder="Home adress.">
      </div>

      <div class="form-group">
        <label for="idPassport">Office Tel No</label>
        <input required type="email" class="form-control" id="officeTelNo" formControlName="officeTelNo" aria-describedby="emailHelp" placeholder="Office Tel No.">
      </div>

      <div class="form-group">
        <label for="idPassport">Mobile No</label>
        <input required type="email" class="form-control" id="mobileNo" formControlName="mobileNo" aria-describedby="emailHelp" placeholder="Mobile No.">
      </div>

      <div class="form-group">
        <label for="idPassport">Pin No</label>
        <input required type="email" class="form-control" id="pinNo" formControlName="pinNo" aria-describedby="emailHelp" placeholder="Pin No.">
      </div>

      <div class="form-group">
        <label for="idPassport">Email</label>
        <input required type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp" placeholder="Email.">
      </div>
  <p>Marital status</p>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="mr-sm-2" for="maritalStatus">I am</label>
          <select class="custom-select mr-sm-2" id="maritalStatus" formControlName="maritalStatus" >
            <option>Single</option>
            <option>Married</option>
            <option>Divorced</option>
            <option>Others</option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label for="numberOfDependants">Number of dependants</label>
          <input required type="number" class="form-control" id="numberOfDependants"  formControlName="numberOfDependents" placeholder="Dependents">
        </div>

      </div>


      <button type="submit" class="btn btn-info btn-lg">Next</button>

    </div>
    <div class="col-lg-4"></div>
  </div>
</form>
