<form [formGroup]="bankForm" (ngSubmit)="onSubmit()" >
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">

      <h1>Bank details</h1>

      <div class="form-group">
        <label for="accountName">Account name</label>
        <input required type="text" class="form-control" id="accountName" formControlName="accountName" aria-describedby="accountName" placeholder="Account name">
      </div>

      <div class="form-group">
        <label for="accountNo">Account No</label>
        <input required type="text" class="form-control" id="accountNo" formControlName="accountNo" aria-describedby="accountNo" placeholder="Account No">
      </div>

      <div class="form-group">
        <label for="bankName">Bank Name</label>
        <input required type="text" class="form-control" id="bankName" formControlName="accountN0" aria-describedby="bankName" placeholder="Account No">
      </div>

      <div class="form-group">
        <label for="bankCode">Bank Code</label>
        <input required type="text" class="form-control" id="bankCode" formControlName="bankCode" aria-describedby="bankCode" placeholder="Bank Code">
      </div>

      <div class="form-group">
        <label for="branch">Branch</label>
        <input required type="text" class="form-control" id="branch" formControlName="branch" aria-describedby="branch" placeholder="Branch">
      </div>

      <div class="form-group">
        <label for="branchCode">Branch Code</label>
        <input required type="text" class="form-control" id="branchCode" formControlName="branchCode" aria-describedby="branchCode" placeholder="Branch Code">
      </div>

      <a [routerLink]="['/apply/employment']" class="btn btn-lg btn-outline-info" style="margin: 12px;">Go back</a>
      <button type="submit" class="btn btn-info btn-lg">Next</button>

    </div>
    <div class="col-lg-4"></div>
  </div>
</form>
