<form [formGroup]="personForm"  (ngSubmit)="onSubmit()" >
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
  
        <h1>Physical Address</h1>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="town">Town</label>
              <input required type="text" class="form-control" formControlName="town" id="town" placeholder="Town">
            </div>
            <div class="form-group col-md-6">
              <label for="estate">Estate</label>
              <input required type="text" class="form-control" id="estate"  formControlName="estate" placeholder="Estate">
            </div>
          </div>
    
    
          <p>How long have you lived here?</p>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="yearsLived">Numberof Years</label>
              <input required type="number" class="form-control" formControlName="yearsLived" id="yearsLived" placeholder="Years lived">
            </div>
            <div class="form-group col-md-4">
              <label for="months"> Number of Months</label>
              <input required type="number" class="form-control" id="months"  formControlName="monthsLived" placeholder="Months">
            </div>
            <div class="form-group col-md-4">
              <label class="mr-sm-2" for="rented">Type</label>
              <select class="custom-select mr-sm-2" id="rented" formControlName="rented" >
                <option value="1">Rented</option>
                <option value="2">Private Owned</option>
              </select>
            </div>
          </div>
          <a [routerLink]="['/apply/personal']" class="btn btn-lg btn-outline-info" style="margin: 12px;">Go back</a>
          <button type="submit" class="btn btn-info btn-lg">Next</button>

    </div>
    <div class="col-lg-4"></div>
  </div>
</form>

    
    
         